.single-repository {
    padding-left: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    & a {
      color: #151400;
    }
}

.single-repository__top {
    display: flex;
    align-items: center;
}

.single-repository__avatar-wrapper {
    border-radius: 6px;
    border: 1px solid #E2E4E6;
    background: white;
    margin: 44px 0 60px 0;
}

.single-repository__avatar {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.single-repository__owner-name {
    font-size: 20px;
    margin-left: 36px;
    font-family: MonaBold;
}

.single-repository__name {
    font-size: 16px;
    font-family: MonaBold;
    margin-bottom: 20px;
    display: block;
}

.single-repository__description {
    font-size: 14px;
    margin-bottom: 40px;
    max-width: 460px;
    align-items: center;
}

.single-repository__languages {
    display: flex;
    margin-bottom: 22px;

    & .single-repository__language:not(last-child) {
        margin-right: 52px;
    }
}
.single-repository__language {
    display: flex;
    align-items: center;

    & span {
        font-size: 14px;
    }
}
.single-repository__language-color {
    width: 8px;
    height: 8px;
    margin-right: 6px;
    border-radius: 50%;
    color: grey;
}

.single-repository__info {
    font-size: 14px;
    display: flex;
}
.single-repository__separate {
    margin: 0 12px;
}
.single-repository__stars-number {
    margin-left: 5px;
}