.repository-card {
    border: 1px solid #151400;
    color: #151400;
    padding: 16px 19px;
    height: 142px;
    border-radius: 6px;
    max-width: 588px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.repository-card__top {
    display: flex;
    align-items: center;
}

.repository-card__avatar {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #eeeeee;
    margin-right: 20px;
}

.repository-card a {
    color: #151400;
}

.repository-card__name {
    font-family: MonaBold;
}

.repository-card__description,
.repository-card__bottom {
    font-size: 14px;
}

.repository-card__bottom {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repository-card__separate {
    margin: 0 12px;
}

.repository-card__stars-number {
    margin-left: 5px;
}