.button {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 9px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    line-height: 16px;
    color: #0DBFFE;
    background: #D9F5FF;
    cursor: pointer;
}

.button:disabled {
    color: #CDCDCD;
    background: #FAFAFA;
    cursor: auto;
}

.button--reverse {
    flex-direction: row-reverse;
}

.button--reverse .button__arrow {
    transform: rotate(180deg);
}