.back-arrow-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: max-content;

    &:hover {
        text-decoration: underline;
    }
}

.back-arrow-button__text {
    margin-left: 15px;
}