@font-face {
    font-family: 'MonaRegular';
    src: local('MonaRegular'), url('./../fonts/Mona-Sans-RegularWide.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'MonaBold';
    src: local('MonaBold'), url('./../fonts/Mona-Sans-SemiBoldWide.woff') format('woff');
    font-weight: 700;
}