.search-bar {
    border: 1px solid #0DBFFE;
    border-radius: 14px;
    margin-bottom: 50px;
}

.search-bar__form {
    display: flex;
    padding: 0 14px;
    height: 50px;
    align-items: center;
}

.search-bar__form input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    margin: 0 10px;
    height: 100%;
}

.search-bar__close-btn {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    font-size: 30px;
    cursor: pointer;

    &:hover{
        opacity: 0.7;
    }
}